@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?3c6my1');
  src:  url('../fonts/icons.eot?3c6my1#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?3c6my1') format('truetype'),
    url('../fonts/icons.woff?3c6my1') format('woff'),
    url('../fonts/icons.svg?3c6my1#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e5ca";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-download:before {
  content: "\e884";
}
.icon-arrow_down:before {
  content: "\e313";
}
.icon-arrow_left:before {
  content: "\e314";
}
.icon-arrow_right:before {
  content: "\e315";
}
.icon-arrow_up:before {
  content: "\e316";
}
.icon-pin:before {
  content: "\e8b4";
}
.icon-mail:before {
  content: "\e0e1";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-mouse:before {
  content: "\e323";
}
.icon-zoom:before {
  content: "\e56b";
}
.icon-github:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
