.navbar { transition: all .4s; }

.navbar-toggleable-sm .navbar-collapse { justify-content: flex-end; }

/* responsive nav */
@include media-breakpoint-down(md) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav { float: none !important; }
}

@include media-breakpoint-up(md) {
    .navbar {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }
    .navbar .navbar-nav > li > a,
    .navbar .navbar-nav> li > a:focus {
        color: #fff;
        font-family: $font-fancy;
        font-weight: 400;
        font-size: 1.5rem;
        transition: all .25s linear;
        text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 15px, rgb(0, 255, 255) 0px 0px 20px, rgb(0, 255, 255) 0px 0px 30px;
    }
    .navbar .navbar-nav > li > a:hover,
    .navbar .navbar-nav > li > a:focus:hover {
        text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0 0 15px, rgb(255, 0, 222) 0px 0px 20px, rgb(255, 0, 222) 0px 0px 30px;
    }
    #topNav {
        background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
