
.timeline {
  border-left: 3px solid $teal;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding-left: 30px;

}
.timeline-item {
  position: relative;
  margin-bottom: 45px;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:before {
  content: ' ';
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-clip: padding-box;
  background: #000;
  border: 3px solid $pink;
}
.timeline-item:after {
  content: ' ';
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-clip: padding-box;
  background: $teal;
  z-index: 10;
}
.timeline .timeline-header {
  position: relative;
}
.timeline .timeline-location {
  color: $teal;
}
.timeline .timeline-place {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  color: #fff;
}
.timeline .timeline-meta {
  margin-bottom: 0.25em;
  text-align: left;
}
.timeline .timeline-title {
  font-size: 1.1rem;
  color: $teal;
  line-height: 1.2;
}
.timeline .timeline-period,
.timeline .timeline-description {
  color: $gray-lighter;
}

@include media-breakpoint-up(md) {
  .timeline {
    padding-right: 30px;
    margin-left: 280px;
  }
  .timeline .timeline-meta {
    position: absolute;
    left: -280px;
    width: 220px;
    top: 0;
    text-align: right;
  }
  .timeline .timeline-place {
    margin-top: 0;
    padding-right: 130px;
  }
  .timeline .timeline-location {
    position: absolute;
    right: 0;
    top: 2px;
  }

}
