
.text-normal { font-family: $font-standard;}
.text-fancy  { font-family: $font-fancy; }

.text-faded { color: rgba(245,245,245,0.7); }
.text-dark { color: $gray-dark; }
.text-primary { color: $teal!important; }
.text-accent { color: $pink!important; }

h1,
h2,
h3,
h4 {
  font-family: $font-fancy;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
h1 { font-size: 3.5rem; }
h5 { font-size: 1.1rem; }

.section-heading {
  text-align: center;
  border-bottom: 1px solid rgba( $pink, .5 );
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0 0 15px, rgb(255, 0, 222) 0px 0px 20px, rgb(255, 0, 222) 0px 0px 30px;
}
.section-heading h1 { padding-bottom: 1rem; }



a {
    color: $brand-accent;
    transition: all .35s;
}
a:hover,
a:focus {
    outline: 0;
    color: $brand-primary;
}





::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: $pink;
}
::selection {
    text-shadow: none;
    color: #fff;
    background: $pink;
}
img::selection {
    color: #fff;
    background: $pink;
}
img::-moz-selection {
    color: #fff;
    background: $pink;
}

