.marg-0         { margin: 0!important; }
.marg-horz-0    { margin-left: 0!important; margin-right: 0!important; }
.marg-vert-0    { margin-top: 0!important; margin-bottom: 0!important; }
.marg-left-0    { margin-left: 0!important; }
.marg-right-0   { margin-right: 0!important; }
.marg-bottom-0  { margin-bottom: 0!important; }
.marg-top-0     { margin-top: 0!important; }

.padd-15 { padding: 15px; }
.padd-30 { padding: 30px; }
.padd-60 { padding: 60px; }
.padd-90 { padding: 90px; }
.padd-120 { padding: 120px; }

.padd-horz-15  { padding-left: 15px;  padding-right: 15px; }
.padd-horz-30  { padding-left: 30px;  padding-right: 30px; }
.padd-horz-60  { padding-left: 60px;  padding-right: 60px; }
.padd-horz-90  { padding-left: 90px;  padding-right: 90px; }
.padd-horz-120 { padding-left: 120px; padding-right: 120px; }

.padd-vert-10  { padding-top: 10px;  padding-bottom: 10px; }
.padd-vert-15  { padding-top: 15px;  padding-bottom: 15px; }
.padd-vert-30  { padding-top: 30px;  padding-bottom: 30px; }
.padd-vert-60  { padding-top: 60px;  padding-bottom: 60px; }
.padd-vert-90  { padding-top: 90px;  padding-bottom: 90px; }
.padd-vert-120 { padding-top: 120px; padding-bottom: 120px; }


.padd-bottom-15  { padding-bottom: 15px; }
.padd-bottom-30  { padding-bottom: 30px; }
.padd-bottom-60  { padding-bottom: 60px; }
.padd-bottom-90  { padding-bottom: 90px; }
.padd-bottom-120 { padding-bottom: 120px;}

.padd-top-15  { padding-top: 15px; }
.padd-top-30  { padding-top: 30px; }
.padd-top-60  { padding-top: 60px; }
.padd-top-90  { padding-top: 90px; }
.padd-top-120 { padding-top: 120px;}


.img-responsive {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  height: auto;
}


.box-outline {
  border: 1px solid $gray;
  padding: 15px;
  border-radius: 0.25rem;
}
.box-outline-primary  { border-color:$brand-primary; }
.box-outline-accent   { border-color: $brand-accent; }
.box-outline-info     { border-color: $brand-info; }